/* Globals */
html,body{height:100%;background-color:#FFFFFF;}
body{color:#000;text-align:center;}
.hide{display:none;}

.toast-notification{
    background: #000 !important;
    color: #FFFFFF !important;
    border-radius: 6px; 
}

.profile-image{
    min-height: 32px;
    min-width: 32px;
}