/* Globals */
html,body{height:100%;background-color:#FFFFFF; }
body{color:#000;text-align:center;}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.hide{display:none;}

.overflow-x-hidden{
    overflow-x:hidden;
}

.toast-notification{
    background: #000 !important;
    color: #FFFFFF !important;
    border-radius: 6px; 
}

.profile-image{
    min-height: 32px;
    min-width: 32px;
}

.margin-information {
    margin-top: 1.7rem;
}

.margin-social {
    margin-top: 653px;
}